// Main vars
// All codes for colors and all font sizes are made according to the design document in Figma

$dividerHeight:100px;

$mainColor: #693095;
$secondColor: #A05FD2;
$darkColor: #50197A;
$accentColor: #FF9D42;

$fontColor: #000;

$wrapperWidth: 1460px;

// Desktop styles

$header1Size: 4rem;
$header1Color: $darkColor;

$header2Size: 3.2rem;
$header2Color: $darkColor;

$header3Size: 2.4rem;
$header4Size: 2.2rem;

$paragraphSize: 2rem;

$headerHeight: 110px;
$headerNavLinkSize: 28px;
$headerPhoneLinkSize: 20px;

$cloudItemPadding: 18px;

$mapBorderRound: 5px;
$mapBorderThick: 5px;

$slowAnim: 0.3s;
$mediumAnim: 0.26s;
$fastAnim: 0.2s;

$mobileWidth: 425px;